@font-face {
    font-family: papyrus;
    src: url(papyrus.ttf);
}
body{
    background-color: black;
}
h1{
    color:#8B0000;
    font-family: papyrus;
    text-decoration: line;
}
p {
    color: #8B0000;
    font-family: papyrus;
}
img{
    width: 50px;
}
